{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-md-12 dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Фильтры
        </button>

        <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="checkbox" name="popular" id="flexCheckDefault"
                    value="on">
                <input type="hidden" name="q" value="request.GET.q">
                <label class="form-check-label" for="flexCheckDefault">
                    Популярные
                </label>
            </div>
            <p class="text-white mx-3 mt-3">Сортировать:</p>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="sort" id="flexRadioDefault1"
                    value="default" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    От новых к старым
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="sort" id="flexRadioDefault2"
                    value="-date">
                <label class="form-check-label" for="flexRadioDefault2">
                    От старых к новым
                </label>
            </div>
            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
        </form>
    </div>

    {% for article in articles %}
        <div class="col-lg-6 col-md-12 p-4">
            <div class="card mb-2 w-100">
                <div class="card-header">
                    <h6 class="card-title">
                        <a class="text-muted text-uppercase" data-toggle="collapse" href="{% url "catalog:article" article.slug %}">
                            <b>{{ article.title }}</b>
                        </a>
                    </h6>
                </div>
                <div class="collapse show">
                    <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                    <div class="card-body text-truncate">{{ article.summary }}</div>
                    <div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
                        <span class="text-muted">Дата публикации: {{ article.date_creation }}</span>
                        <ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
                            <li class="list-inline-item">
                                <a href="#" class="text-primary mr-2">
                                    <img class="mx-1" src="{% static "deps/icons/comment.svg" %}" alt="..." width="12" height="12">
                                </a> 3120
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="text-primary mr-2">
                                    <img class="mx-1" src="{% static "deps/icons/like.svg" %}" alt="..." width="12" height="12">
                                </a> 114
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4">
        <div class="custom-shadow d-flex">
            <li class="page-item disabled">
                <a class="page-link">Предыдущая</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Следующая</a>
            </li>
        </div>
    </ul>
</nav>
{% endblock content %}


{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MyBlog 2025</p>
        </div>
    </footer>
{% endblock footer %}