html {
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(270deg, #bfcee0 0%, #610202 100%);
    margin-bottom: 60px;
}

.project-information{
    color: #fae103;
}

a {
    text-decoration: none !important;
}

.card-header:not([class*=bg-]):not([class*=alpha-]) {
    padding-top: 1.25rem;
    border-bottom-width: 0;
}

.custom-shadow {
    box-shadow: 5px 5px 25px 19px #000000;
}

.list-inline {
    margin-left: auto;
}

.dropdown-toggle::after {
    content: none;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    text-align: center;
}

#text-news {
    font-size: 20px;
}

#parent {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

.comment{
    color: #000000;
}

.date-comment{
    margin-top: -10px; 
    font-size: 12px;
}

