{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block content %}
    <div class="contact row">
        <h3 class="mt-3">{{ content }}</h3>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MyBlog 2025</p>
        </div>
    </footer>
{% endblock footer %}
